name: Build and Push
on:
  workflow_call:
    secrets:
      REGISTRY_URL:
        required: true
      REGISTRY_USER:
        required: true
      REGISTRY_PASSWORD:
        required: true
      ACCESS_TOKEN:
        required: true
jobs:
  ecr-build-push:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Start SSH agent securely
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        env:
          DOCKER_BUILDKIT: 1
        run: |
          echo 'Building image...'
          docker build . \
            --ssh default=$SSH_AUTH_SOCK \
            -t ${{ secrets.REGISTRY_URL }}/${{github.event.repository.name}}:${{github.sha}}

          echo 'Pushing image...'
          docker push ${{ secrets.REGISTRY_URL }}/${{github.event.repository.name}}:${{ github.sha }}

          echo 'Done!'
