name: Lint
on:
  workflow_call:
    secrets:
      ACCESS_TOKEN:
        required: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Start SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.ACCESS_TOKEN }}

      - name: Lint
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker build . --ssh default=$SSH_AUTH_SOCK --target lint
