name: Lint
on:
  workflow_call:
    secrets:
      ACCESS_TOKEN:
        required: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Lint
        uses: docker/build-push-action@v6
        with:
          push: false
          target: lint
          cache-from: type=gha
          cache-to: type=gha
