name: Test
on:
  workflow_call:
    secrets:
      ACCESS_TOKEN:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Test
        uses: docker/build-push-action@v6
        with:
          push: false
          target: test
          cache-from: type=gha
          cache-to: type=gha
