name: Test
on:
  workflow_call:
    secrets:
      ACCESS_TOKEN:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Start SSH agent securely
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.ACCESS_TOKEN }}
          
      - name: Run Tests in Docker
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker build . --ssh default=$SSH_AUTH_SOCK --target test